[Unit]
Description=ExoTalk zrok Public Relay
After=exotalk-signaling.service

[Service]
ExecStart=/home/exocrat/deployments/infra/zrok share public http://localhost:8080 --headless
Restart=always
User=exocrat
WorkingDirectory=/home/exocrat
Environment=HOME=/home/exocrat

[Install]
WantedBy=multi-user.target
