[Unit]
Description=ExoTalk zrok Public Relay
After=exotalk-signaling.service

[Service]
ExecStart=/home/exocrat/code/exotalk/infra/bin/zrok share public http://localhost:8080 --headless
Restart=always
WorkingDirectory=/home/exocrat
Environment=HOME=/home/exocrat

[Install]
WantedBy=multi-user.target
