[Desktop Entry]
Name=ExoTech Bridge
Comment=Deterministic Mesh Monitoring
Exec=/home/exocrat/deployments/bridge_monitor/exotech_bridge
Icon=/home/exocrat/deployments/bridge_monitor/data/flutter_assets/assets/exotalk_pappus_desktop.png
Terminal=false
Type=Application
Categories=Development;
